/* 
	CSS by Dan Høegh
	UCN MMD 2020 

*/

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 1rem;
	line-height: 1.4;
}

body {
	background-color: var(--frp-color-background);	
	padding: 0;
}

/* button */
.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: var(--frp-radius-component-s);
	background-color: var(--frp-color-primary);
	color: var(--frp-color-on-primary);
	box-shadow: var(--frp-shadow);
	transition: box-shadow .2s ease-out;
}

.btn.mwa {
	background-color: var(--frp-color-accent);
	color: var(--frp-color-on-accent);
}

.btn:active {
	box-shadow: var(--frp-shadow-depressed);
}

h1, p {
	margin-bottom: var(--frp-density-m);
}
article {
	padding: 5vw;
}

#output	{
	margin: 4vw 0;
}

.box {
	width: calc(85vw / 10);
	height: calc(85vw / 10);
}

.box > div {
	transition: all .5s ease-out;
}

/* colors */

.red 		{ border-color: red; background-color: red;}
.purple 	{ border-color: purple; background-color: purple;}
.blue 		{ border-color: blue; background-color: blue;}
.teal 		{ border-color: teal; background-color: teal;}
.green 		{ border-color: green; background-color: green;}
.chartreuse { border-color: chartreuse; background-color: chartreuse;}
.yellow 	{ border-color: yellow; background-color: yellow;}
.orange 	{ border-color: orange; background-color: orange;}

/* shapes */
.square { width: 100%; height: 100%; }
.circle { width: 100%; height: 100%; border-radius: 50%; }
.diamond {
	width: 70%;
    height: 70%;
    margin: 15%;
	transform: rotate(45deg);
}

